<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="UTF-8" />
<title>服务器状态</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />

<!-- start: The fav icon -->
<link rel="icon" type="image/x-icon" href="${cxt!}/files/images/favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="${cxt!}/files/images/favicon.ico" />
<!-- end: The fav icon -->

<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/bootstrap/css/bootstrap-fileupload.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/assets/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/css/style.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/css/style-responsive.css" />
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/metrolab/css/style-default.css" id="style_color" />

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	    <!-- BEGIN PAGE CONTAINER-->
	    <div class="container-fluid">
	
	        <!-- BEGIN ADVANCED TABLE widget-->
	        <div class="row-fluid">
	            <div class="span12">
	
	                <!-- BEGIN EXAMPLE TABLE widget-->
	                <div class="widget red">
	                    <div class="widget-title">
	                        <h4>
	                            <i class="icon-reorder"></i>服务器列表
	                        </h4>
	                    </div>
	                    <div class="widget-body">
	                        <div class="space15"></div>
	                        <table class="table table-striped table-bordered" id="dataTable">
	                            <thead>
		                            <tr>
		                                <th class="hidden-phone">序号</th>
		                                <th class="hidden-phone">当前状态</th>
		                               	<th class="hidden-phone">服务器描述</th>
		                                <th class="hidden-phone">更新时间</th>
		                            </tr>
	                            </thead>
	                            <tbody>
	                            <% for(host in hostList){ %>
		                            <tr class="odd gradeX">
		                                <td class="hidden-phone">${host.ord}</td>
		                                <td class="hidden-phone">${host.text}</td>
		                                <td class="hidden-phone">${host.hostDesc}</td>
		                                <td class="hidden-phone">${host.reporttime}</td>
		                            </tr>
		                       <% } %>
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
</body>
</html>