<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

</head>
<body>

<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left" href="javascript:;" onclick="javascript:history.back(-1);"></a>
            <a class="icon icon-check pull-right "></a>
            <h1 class="title">新建日程</h1>
        </header>

        <div class="content">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <!--  <div class="item-media"><i class="icon icon-form-name"></i></div>-->
                            <div class="item-inner">
                                <div class="item-title label">日程类型</div>
                                <div class="item-input">
                                    <input type="text" id="rclx" placeholder="日程类型">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <!--<div class="item-media"><i class="icon icon-form-email"></i></div>-->
                            <div class="item-inner">
                                <div class="item-title label">日程标题</div>
                                <div class="item-input">
                                    <input type="text" id="rcbt" placeholder="日程标题">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <!--<div class="item-media"><i class="icon icon-form-password"></i></div>-->
                            <div class="item-inner">
                                <div class="item-title label">紧急程度</div>
                                <div class="item-input">
                                    <input type="text" id="jjcd" placeholder="紧急程度">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <!--    <div class="item-media"><i class="icon icon-form-gender"></i></div>-->
                            <div class="item-inner">
                                <div class="item-title label">接收人</div>
                                <div class="item-input">
                                    <input type="text" id="jsr" placeholder="接收人">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Date -->
                    <li>
                        <div class="item-content">
                            <!--   <div class="item-media"><i class="icon icon-form-calendar"></i></div>-->
                            <div class="item-inner">
                                <div class="item-title label">开始时间</div>
                                <div class="item-input">
                                    <input id="kssj" type="text" placeholder="开始时间">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <!--  <div class="item-media"><i class="icon icon-form-toggle"></i></div>-->
                            <div class="item-inner">
                                <div class="item-title label">结束时间</div>
                                <div class="item-input">
                                    <input id="jssj" type="text" placeholder="结束时间">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <!--   <div class="item-media"><i class="icon icon-form-comment"></i></div>-->
                            <div class="item-inner">
                                <div class="item-title label">日程内容</div>
                                <div class="item-input">
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="content-block">
                 <div class="row">
                     <div class="col-50"><a href="#" class="button button-big button-fill button-danger">取消</a></div>
                     <div class="col-50"><a href="#" class="button button-big button-fill button-success">提交</a></div>
                 </div>
             </div>-->
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $("#rclx").picker({
        toolbarTemplate: '<header class="bar bar-nav">\
  <button class="button button-link pull-right close-picker">确定</button>\
  <h1 class="title">请选择</h1>\
  </header>',
        cols: [
            {
                textAlign: 'center',
                values: ['工作安排', '日常提醒', '其他']
            }
        ]
    });
    $("#jjcd").picker({
        toolbarTemplate: '<header class="bar bar-nav">\
  <button class="button button-link pull-right close-picker">确定</button>\
  <h1 class="title">请选择</h1>\
  </header>',
        cols: [
            {
                textAlign: 'center',
                values: ['一般', '重要', '紧急']
            }
        ]
    });
    $("#kssj").datetimePicker({
        value: [new Date().getFullYear(), Appendzero(new Date().getMonth()+1), Appendzero(new Date().getDate()), '0', '00']
    });
    $("#jssj").datetimePicker({
        value: [new Date().getFullYear(), Appendzero(new Date().getMonth()+1), Appendzero(new Date().getDate()), '0', '00']
    });
    function Appendzero(obj)
    {
        if(obj<10) return "0" +""+ obj;
        else return obj;
    }


</script>

</body>
</html>