<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  <title>我的待办</title>-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--   <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
       <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">-->
    <link rel="stylesheet" href="${cxt!}/static/light7/css/light7.min.css">
    <link rel="stylesheet" href="${cxt!}/static/light7/css/light7-swiper.min.css">
    <link rel="stylesheet" href="${cxt!}/ui/icon/iconfont.css">
    <link rel="stylesheet" href="${cxt!}/static/schedule/app.css">
    <script src="${cxt!}/static/js/tpl.js"></script>

</head>
<body>


<div class="page   page-current">

    <header class="bar bar-nav">
        <!-- <a class="icon icon-left pull-left"></a>-->
        <!--<a class="icon icon-friends pull-right create-actions"></a>-->
        <h1 class="title">会议管理 </h1>
    </header>

    <div class="content   pull-to-refresh-content" data-ptr-distance="55">
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="content-inner">
            <div id="my-input"></div>
            <div id="content" style="height: 500px;overflow: auto;position:relative" class="infinite-scroll"></div>
        </div>

    </div>

</div>


<div class="popup popup-about">
    <div class="content-block">
        <p class="item-title">指派与会人员</p>
        <div class="list-block media-list">
            <ul>
                <li>
                    <label class="label-checkbox item-content">
                        <input name="checkbox" type="checkbox" value="石头">
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">石头</div>
                            </div>
                        </div>
                    </label>

                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input name="checkbox" type="checkbox" value="剪刀">
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">剪刀</div>
                            </div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input name="checkbox" type="checkbox" value="布">
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">布</div>
                            </div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-50"><a href="#" class="button button-big button-fill button-danger close-popup">取消</a>
                </div>
                <div class="col-50"><a href="#" class="button button-big button-fill button-success close-popup">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='${cxt!}/static/light7/js/jquery-3.3.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='${cxt!}/static/light7/js/light7.min.js' charset='utf-8'></script>
<script type='text/javascript' src='${cxt!}/static/light7/js/light7-swiper.min.js' charset='utf-8'></script>
<script type='text/javascript' src='${cxt!}/static/light7/js/i18n/cn.js' charset='utf-8'></script>
<!--<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>-->
<script>
    //打开自动初始化页面的功能
    //建议不要打开自动初始化，而是自己调用 $.init 方法完成初始化
    $.init();

    $(function () {
        $("#my-input").calendar({
            onDayClick: function (p, dayContainer, year, month, day) {
                init(year, month / 1 + 1, day);
            },
            onMonthYearChangeEnd: function (o, y, m) {
                init(y, m + 1, 1);
            }
        });
        /* $(".picker-calendar-day").live("click", function () {
             var day = $(this).attr('data-day');
             var month = $(this).attr('data-month');
             var year = $(this).attr('data-year');
             var date = $(this).attr('data-date');
             $.alert(date);
         });*/

        init(new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate());
    });
    var meeting_data;

    function getData(y, m, d) {
        $.ajax({
            url: '/wechat/myscheduler/getSchedules', method: "POST", data: {year: y, month: m, day: d},
            success: function (data, textStatus, jqXHR) {
                console.info(data);
                setSchedule(y, m, data.data);

                meeting_data = data.meetings;
                tpl.serv('/wechat/myscheduler/getTpl', meeting_data, function (html) {
                    $("#content").html(html);
                    var p = y + "-" + m + "-" + d;
                    console.info(p);
                    console.info($(".content-block-title[name='" + p + "']").position().top);
                    $("#content").scrollTop(0).animate({scrollTop: $(".content-block-title[name='" + p + "']").position().top}, 1000);

                    //$("html,body").animate({scrollTop: $(".content-block-title[name='" + p + "']").offset().top},1000);
                });
            }
        });
    }

    function init(y, m, d) { // 年 ， 月
        //$.alert(y , m);
        getData(y, m, d);
    }

    function setSchedule(y, m, d) {
        $("." + y).remove();
        $.each(d, function (index, v) {
            var temp_date = new Date(v.d);

            v.d = temp_date.getFullYear() + "-" + temp_date.getMonth() + "-" + temp_date.getDate();

            var date = new Date();
            var t = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
            //当天前 灰色角标
            if (temp_date < new Date(t)) {
                $(".picker-calendar-day[data-date='" + v.d + "']").not(".picker-calendar-day-prev").not(".picker-calendar-day-next").append("<div class='" + y + "' style='width: 15px;height: 15px;line-height: 15px;position:relative; border-radius:100%;top: -8px;left: -7px; color:white;background: gray'>" + v.count + "</div>");
            } else {
                $(".picker-calendar-day[data-date='" + v.d + "']").not(".picker-calendar-day-prev").not(".picker-calendar-day-next").append("<div class='" + y + "' style='width: 15px;height: 15px;line-height: 15px;position:relative; border-radius:100%;top: -8px;left: -7px; color:white;background: red'>" + v.count + "</div>");
            }
        });
    }

    $(document).on('refresh', '.pull-to-refresh-content', function (e) {
        // 模拟2s的加载过程
        //setTimeout(function () {
        //TODO AJAX 刷新
        var current_year = $(".picker-calendar-month-current").attr('data-year');
        var current_month = $(".picker-calendar-month-current").attr('data-month') / 1 + 1;
        var current_day = 1;

        console.info(current_day);
        //var t = new Date().getFullYear() + "-" + new Date().getMonth() + "-" + new Date().getDate();

        getData(current_year, current_month, current_day);

        //setSchedule(current_year, current_month, d);
        // 加载完毕需要重置
        $.pullToRefreshDone('.pull-to-refresh-content');
        //}, 2000);
    });

    $(".button-success.close-popup").on('click', function () {
        //获取选中的人员
        $.each($("input:checkbox[name='checkbox']:checked"), function (index, v) {
            console.info($(v).val());
        });
    });
    $(".button-danger.close-popup").on('click', function () {

        $.each($("input:checkbox[name='checkbox']"), function (index, v) {
            $(v).prop("checked", false);
        });
    });
    /*$(document).on('click', '.create-actions', function () {
        var buttons1 = [
            {
                text: '请选择',
                label: true
            },
            {
                text: '我的待办',
                /!* bold: true,*!/
                onClick: function () {
                    $.alert("你选择了“我的待办“");
                }
            },
            {
                text: '下属待办',
                onClick: function () {
                    $.alert("你选择了“下属待办“");
                }
            }
        ];
        var buttons2 = [
            {
                text: '取消',
                bg: 'danger'
            }
        ];
        var groups = [buttons1, buttons2];
        $.actions(groups);
    });*/
</script>
</body>
</html>