<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  <title>我的待办</title>-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="${cxt!}/static/light7/css/light7.min.css">
    <link rel="stylesheet" href="${cxt!}/static/light7/css/light7-swiper.min.css">
    <link rel="stylesheet" href="${cxt!}/ui/icon/iconfont.css">
    <link rel="stylesheet" href="${cxt!}/static/schedule/app.css">


    <script type='text/javascript' src='${cxt!}/static/light7/js/jquery-3.3.1.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='${cxt!}/static/light7/js/light7.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='${cxt!}/static/light7/js/light7-swiper.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='${cxt!}/static/light7/js/i18n/cn.js' charset='utf-8'></script>
    <script src="${cxt!}/static/js/tpl.js"></script>

</head>
<body>
<div class="page">
    <div class="content-padded docs-icons">
        <span class="icon icon-app"></span>
        <span class="icon icon-browser"></span>
        <span class="icon icon-card"></span>
        <span class="icon icon-cart"></span>
        <span class="icon icon-code"></span>
        <span class="icon icon-computer"></span>
        <span class="icon icon-remove"></span>
        <span class="icon icon-download"></span>
        <span class="icon icon-edit"></span>
        <span class="icon icon-emoji"></span>
        <span class="icon icon-star"></span>
        <span class="icon icon-friends"></span>
        <span class="icon icon-gift"></span>
        <span class="icon icon-phone"></span>
        <span class="icon icon-clock"></span>
        <span class="icon icon-home"></span>
        <span class="icon icon-menu"></span>
        <span class="icon icon-message"></span>
        <span class="icon icon-me"></span>
        <span class="icon icon-picture"></span>
        <span class="icon icon-share"></span>
        <span class="icon icon-settings"></span>
        <span class="icon icon-refresh"></span>
        <span class="icon icon-caret"></span>
        <span class="icon icon-down"></span>
        <span class="icon icon-up"></span>
        <span class="icon icon-right"></span>
        <span class="icon icon-left"></span>
        <span class="icon icon-check"></span>
        <span class="icon icon-search"></span>
    </div>
</div>
</body>
</html>