<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <script type="text/javascript" src="${cxt!}/jsfile/jquery/jquery-1.12.4.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>

    <!-- 如果使用了某些拓展插件还需要额外的JS -->
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
    <style>
        body, html {
            height: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        .demos-title {
            text-align: center;
            font-size: 34px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }

        .demos-sub-title {
            text-align: center;
            color: #888;
            font-size: 14px;
        }

        .demos-header {
            padding: 2px 0;
        }
    </style>
    <script>
        $(function () {
            $.notification({
                title: "当前用户:" + "${escapeHtml(userId!)}"
            });

            $(document.body).pullToRefresh();
            $("#inline-calendar").calendar({
                container: "#inline-calendar",
                input: "#date3",
                onDayClick: function (p, dayContainer, year, month, day) {
                    alert(day);
                },
                onMonthYearChangeEnd: function (o, y, m) {
                    init(y, m + 1);
                }
            });
            $(document.body).on("pull-to-refresh", function () {
                setTimeout(function () {
                    $(document.body).pullToRefreshDone();
                }, 1000);
            });

            init(new Date().getFullYear(), new Date().getMonth() + 1);
        });

        function init(y, m) {
            $("span." + y).remove();
            //TODO ajax
            var d = [{'d': '2017-6-16', 'count': 2}, {'d': '2017-6-17', 'count': 6}, {
                'd': '2017-6-25',
                'count': 2
            }, {'d': '2017-6-12', 'count': 5}];

            $.each(d, function (index, v) {
                $(".picker-calendar-day[data-date='" + v.d + "']").not(".picker-calendar-day-prev").not(".picker-calendar-day-next").append("<span class='" + y + "' style='width: 15px;height: 15px;line-height: 15px;position:relative;top: -8px;background: white;color:blue;'>" + v.count + "</span>");
            });
        }

    </script>

</head>

<body ontouchstart>
<div class="weui-pull-to-refresh__layer">
    <div class='weui-pull-to-refresh__arrow'></div>
    <div class='weui-pull-to-refresh__preloader'></div>
    <div class="down">下拉刷新</div>
    <div class="up">释放刷新</div>
    <div class="refresh">正在刷新</div>
</div>
<div id="inline-calendar"></div>

<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>07月16日 周日</p>
        </div>
        <div class="weui-cell__ft"><a href="javascript:alert('add');">
            <img src="${cxt!}/ui/add.png" style="width: 25px;height: 25px;padding-top: 5px">
        </a>
        </div>
    </div>
    <div class="weui-cell  ">
        <div class="weui-cell__bd weui-cells__title">待办事项名称</div>
    </div>
    <div class="weui-cell  ">
        <div class="weui-cell__bd weui-cells__title">待办事项名称</div>
    </div>
</div>


<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>07月17日 周一</p>
        </div>
        <div class="weui-cell__ft"><img src="${cxt!}/ui/add.png" style="width: 25px;height: 25px;padding-top: 5px">
        </div>
    </div>
    <div class="weui-cell  ">
        <div class="weui-cell__bd weui-cells__title">待办事项名称</div>
    </div>
    <div class="weui-cell  ">
        <div class="weui-cell__bd weui-cells__title">待办事项名称</div>
    </div>
    <div class="weui-cell  ">
        <div class="weui-cell__bd weui-cells__title">待办事项名称</div>
    </div>
    <div class="weui-cell  ">
        <div class="weui-cell__bd weui-cells__title">待办事项名称</div>
    </div>
    <div class="weui-cell  ">
        <div class="weui-cell__bd weui-cells__title">待办事项名称</div>
    </div>
    <div class="weui-cell  ">
        <div class="weui-cell__bd weui-cells__title">待办事项名称</div>
    </div>
</div>


<div class="weui-footer">
    <p class="weui-footer__links">
        <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
        <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
    </p>
    <p class="weui-footer__text">Copyright © 2008-2016 luda.team</p>
</div>
</body>
</html>
