if (meeting_data == null || meeting_data.length ==0){
<div  class="content-block-title" style="display:none">今天</div>
<div class="list-block">
    <ul style="background:none">
        <div class="card-content">
            <div class="card-content-inner">
                <p class="color-gray" align="center">暂无会议</p>
            </div>
        </div>
    </ul>
</div>
}else{
for(var i=0;i<meeting_data.length;i++){
var meeting = meeting_data[i];
var rq = meeting.title;
var weekDay = ["周日", "周一", "周二", "周三", "周四", "周五", "周六"];  
var zj = weekDay[new Date(Date.parse(rq.replace(/\-/g,"/"))).getDay()];
<div class="content-block-title" id="@meeting.title" name="@meeting.title">@meeting.title    @zj</div>
<div class="list-block">
    <ul style="background:none">
        if (meeting.meetingList == null){


        <div class="card-content">
            <div class="card-content-inner">
                <p class="color-gray" align="center">暂无会议</p>
            </div>
        </div>


        }else{
        for(var j=0;j<meeting.meetingList.length;j++){
        var m_data = meeting.meetingList[j];
        var ckbj = m_data.ckbj;
        var zpbj = m_data.zpbj;
        var hymc = m_data.hymc;
        if(hymc.replace(/[^\x00-\xff]/g,"**").length>14){
                hymc=getByteVal(hymc,26)+"...";

            }

        <li style="padding-left: 0rem" onclick="getSwrys(this.getElementsByTagName('div')[0].innerHTML,this.getElementsByTagName('div')[1].innerHTML)"; class="item-content item-link  open-popup open-about" data-popup=".popup-about   ">
            <div style="display:none" name="hybh">@m_data.hybh</div>
            <div style="display:none" name="zpbj">@m_data.zpbj</div>
            <div class="item-media" style="display: none"><i class="icon iconfont icon-huodongxiangqu" style="color: green"></i>
            </div>
            <div class="item-inner" style="border-bottom:none">
                if("noread"==ckbj){
                <div class="item-title" style="color:#36acf4;">
                    <img src="${cxt!}/static/img/yuanpoint.svg" style="display:inline-block;width:18px;" />
                    @hymc</div>
                    <div class="item-subtitle">@m_data.kssj</div>
                }else if("readed"==ckbj){
                    <div class="item-title" style="color:#36acf4;padding-left: .75rem;">@hymc</div>
                    <div class="item-subtitle">@m_data.kssj</div>
                }else{
                    <div class="item-title" style="padding-left: .75rem;">@hymc</div>
                    <div class="item-subtitle">@m_data.kssj</div>
                }

            </div>
        </li>
        }
        }
    </ul>
</div>
}
}
