<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="${cxt!}/ui/icon/iconfont.css">
<style type="text/css">
body {
	text-align: center;
}

.nsrmc {
	text-align: center;
	margin: 50px 5px;
	line-height: 30px;
	font-size: 20px;
}

#qrcode {
	margin-top: 80px;
}

#djxh {
	display: none;
	margin-top: 100px;
	text-align: center;
	line-height: 30px;
	color: #2b2323;
	font-weight: 600;
	font-size: 24px;
	font-family: 微软雅黑, 黑体, 宋体;
}
</style>
<script type="text/javascript">
	var cxt = "${cxt!}"; // 上下文基础路径
	var localePram = "${localePram!}"; // 用户选择的语言环境，或者默认展示的语言环境
	var sqid = "${sqid!}";
	if("" != sqid){
		sqid = sqid.substring(0, sqid.length-3);
	}
	window.location = "http://sw.xh.sh.cn:8989/ddy_sj?sqid="+sqid;
</script>
</head>

<body>
	<input type="hidden" id="userid" name="userid" value="${escapeHtml(userId!)}" />
	<div class="page-group">
		<div class="page page-current">
			<header class="bar bar-nav">
				<h1 class="title">大调研</h1>
				<a href="${cxt!}/wechat/qybd/index"
					class="icon icon-settings pull-right"></a>
			</header>
			<div class="content pull-to-refresh-content">
				<div class="pull-to-refresh-layer">
					<div class="preloader"></div>
					<div class="pull-to-refresh-arrow"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>