<form name="form1" method="post" action="Zhcx.aspx?lb=1" id="form1">
    <div>
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
               value="/wEPDwUJMjM1NjgzNTAxZGRDocxiaNH14JoAWYUB/9QA6HzW9A=="/>
    </div>

    <div class="mainshowtop" style="z-index:100;">
        <DIV id="mainmenu20">
            <UL>
                <LI class="menu-1 add_qq_more"><A href="https://www.tax.sh.gov.cn/xbwz/wzfw/yihushi.jsp"><I
                        class="icon icon-1"><IMG class=m_pic src="../static/icons/05.png"></I>
                    <P class="title m_text">企业基本信息查询</P>
                    <DIV class="right-arrow"></DIV>
                </A></LI>
                <LI class="menu-2 add_qq_more"><A href="https://www.tax.sh.gov.cn/wsbs/WSBS04_sscx_chaxun.jsp"><I
                        class="icon icon-1"><IMG class=m_pic src="../static/icons/2.png"></I>
                    <P class="title m_text">涉税事项查询</P>
                    <DIV class="right-arrow"></DIV>
                </A></LI>
                <LI class="menu-3 add_qq_more"><A href="https://www.tax.sh.gov.cn/wsbs/WSBSptFpCx_loginsNewl.jsp"><I
                        class="icon icon-1"><IMG class=m_pic src="../static/icons/3.png"></I>
                    <P class="title m_text">发票信息查询</P>
                    <DIV class="right-arrow"></DIV>
                </A></LI>
                <LI class="menu-4 add_qq_more"><A href="https://www.tax.sh.gov.cn/tycx/TYCX_qynsxydjcx.jsp?SUB=111"><I
                        class="icon icon-1"><IMG class=m_pic src="../static/icons/1.png"></I>
                    <P class="title m_text">A类纳税人信息查询</P>
                    <DIV class="right-arrow"></DIV>
                </A></LI>
                <LI class="menu-5 add_qq_more"><A href="https://gr.tax.sh.gov.cn/web/login"><I class="icon icon-1"><IMG
                        class=m_pic src="../static/icons/1.png"></I>
                    <P class="title m_text">个人纳税信息查询</P>
                    <DIV class="right-arrow"></DIV>
                </A></LI>
                <LI class="menu-6 add_qq_more"><A
                        href="https://www.tax.sh.gov.cn/wsbs/wsbs21_grzffcsyjsjlcx.jsp?types=1"><I
                        class="icon icon-1"><IMG class=m_pic src="../static/icons/2.png"></I>
                    <P class="title m_text">房产税缴纳情况查询</P>
                    <DIV class="right-arrow"></DIV>
                </A></LI>
                <DIV style="CLEAR: both" class="clear"></DIV>
            </UL>
        </DIV>
    </div>
</form>