<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  <title>办税员与纳税企业绑定关系</title>-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="${cxt!}/ui/icon/iconfont.css">

    <script type="text/javascript">
      var cxt = "${cxt!}"; // 上下文基础路径
	var localePram = "${localePram!}"; // 用户选择的语言环境，或者默认展示的语言环境
	function changeBinding(){
		var userid = $("#userid").val();
	    var selectedDjxh = $("input[name='qiye']:checked").val();
	   	if(userid == ""){
	    	return;
	    }
	    if(selectedDjxh == ""){
	    	return;
	    }
		var data = {userid:userid,djxh:selectedDjxh};
		$.ajax({
			type : "post",
			url : encodeURI(encodeURI(cxt + "/wechat/qybd/change")),
			headers : {"localePram" : localePram}, 
			data : data,
			dataType : "json",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			async: false,
			cache: false,
			success:function(data){
				$.alert(data.errmsg,function(){
					wx.closeWindow();
				});
			}
		});
	}
    </script>
</head>

<body>
<input type="hidden" id="userid" name="userid" value="${escapeHtml(userId!)}" />
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left"></a>

            <h1 class="title">办税员与纳税企业绑定关系</h1>
        </header>

        <div class="content pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div id="my-input"></div>
            <div class="content-block-title">纳税人列表</div>
            <div class="list-block">
                <ul>
                    <% for(bind in bindingList){ %>

                    <li class="item-content">
                        <div class="item-media"><input type="radio" id="qiye${bindLP.index}" name="qiye" value="${bind.djxh}" ${ bind.isUse=='Y' ?
                            "checked='checked'" : ""}   /></div>
                        <div class="item-inner">
                            <div class="item-title" index="qiye${bindLP.index}">${bind.nsrmc}</div>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    $.init();
    $(document).on('refresh', '.pull-to-refresh-content',function(e) {
        // 模拟2s的加载过程
        setTimeout(function() {
            // 加载完毕需要重置
            $.pullToRefreshDone('.pull-to-refresh-content');
        }, 1000);
    });
    $(document).on('click','input[name="qiye"]',function () {
        changeBinding();
    });
    $("div.item-title").on('touchstart',function (e) {
       var id = $(e.target).attr("index");
       document.getElementById(id).checked="checked";
	   changeBinding();
	   e.preventDefault();
    });
</script>
</body>
</html>