.picker-calendar-day.picker-calendar-day-today span{
    background: #65AB79;
    color: #ffffff;
}
#my-input{
    font-weight: bold;

}

i.icon.icon-next, i.icon.icon-prev {
    background-image: none;
}
.list-block ul{
    border-top: none;
}
